<h1>All tasks</h1>

<% @tasks.each do |task| %>
  <h2>Task: <%= task.title %></h2>
  <h3><%= task.completed %></h3>


  <h4><%= link_to 'See details', task_path(task) %></h4>
  <h4><%= link_to 'Delete task', task_path(task), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h4>
<% end %>
